
<ion-content>
  <div id="loginPage">
  <div class="padded">

    <div class="login-form">

        <div class="logo-box">
            <img src="/assets/icon/ionic_base.png" style="height: 72px;">
        </div>

        <form   [formGroup]="loginForm" id="myform" style="width: 80%;margin:0 auto;">

            <div id="triangle"></div>

            <div class="login-box">
                <input type="text" class="text-input text-input--material" placeholder="Username" id="username"  formControlName="userName" >

                <div style="position: relative;">
                    <input [type]="type"  class="text-input text-input--material" id="loginpwd" formControlName="password" placeholder="Password" required>
                    <button class="pwd-align" type="button" >
                        <i class="fa fa-eye" *ngIf="eyeOn" (click)="eyeOn = false; type = 'password'"></i>
                        <i class="fa fa-eye-slash" *ngIf="!eyeOn" (click)="eyeOn = true; type = 'text'"></i>
                    </button>
                </div>

                <br>
                <ion-button class="login-button" [disabled]="loginForm.invalid" (click)="login()">
                    <span id="loginTxt" class="login-fdbk" style="font-family: Play;">Log In</span>
                    <span id="loginFdbk" class="login-fdbk" style="display: none;">
                   <i class="fa fa-circle-o-notch fa-spin"></i>
                   <span style="font-family: Play;">Loading...</span>
                  </span>
                </ion-button>
                <br>
            </div>
            <!-- <div><span style="font-size: 12px;color: #666666;font-family: Play;">V <span class="app-version">1.0.0</span></span></div> -->

            <!-- <div><span style="font-size: 12px;color: #666666;font-family: Play;">V <span class="app-version">{{ appVersion }}</span></span></div> -->

            <p class="p-by">
                <a href="javascript:void(0)" style="color: #666666;font-size: 12px;text-decoration: none;">
                    Powered by <img src="/assets/icon/boodskap-logo.png" style="height: 25px;vertical-align: -8px;">  Boodskap
                </a>
            </p>
          
        </form>

    </div>

</div>
</div>
</ion-content>   
