.p-by{
  font-family: Play;
  background: rgba(255,255,255,0.18);
  margin-top: 20%;
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 10px;
}

#loginPage .page__background {
  background: #ffffff;
  /*opacity: 0.7;*/
  /*background-image: url('img/amb.jpg') !important;*/
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: center cover;*/
  /*background-size: cover;*/
  /*background-position: center top;*/
}

#loginPage .login-form {
  text-align: center;
  margin: 60px auto 0;
  margin-top:10%;
  width: 100%;
  background: none;
  padding: 25px 0;
}

#loginPage #username, #loginpwd {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  height: 100%;
  padding: 15px 20px;
  color: #333333;
  font-size: 16px;
  background: #eeeeee;
  margin-top: 7px;
  border: 0;
  border-bottom: 1px solid #cccccc;
  border-radius: 0;
}

#loginPage #username::placeholder, #loginpwd::placeholder {
  color: #999999;
}

#loginPage .login-button {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  background: #397ffd;
  color: #ffffff;
  font-weight: 600;
}
#loginPage .big-title{
  font-size: 12px;
  margin: 0;
  width: 130px;
  display: inline-block;
  padding: 5px 15px;
  background: rgba(255,255,255,0.18);
  border-radius: 10px;
  margin-bottom: 20px;
}
#loginPage .forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
  color: #397ffd;
}
#loginPage .pwd-align {
  position: absolute;
  right: 6px;
  bottom: 15px;
  background: transparent;
  border: 0;
  font-size: 20px;
  outline: none;
}
#loginPage .slide{
  width: 90%;
  margin: 0 auto;
}
#loginPage .pwd-align i{
  color: #666666;
}
#triangle {
  width: 0;
  height: 0;
  border-bottom: 23px solid #fff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  /* text-align: center; */
  margin: 0 auto;
}
.logo-box{
  width: 65%;
  display: inline-block;
  background: #ffffff;
  padding: 7px;
  border-radius: 8px;
  margin-top: 1em;
  margin-bottom: 1em;
}
.app-name{
  font-family: 'Play';
  color: #666666;
  font-size: 20px;
}
.login-box{
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 10px;
}
