<ion-header class="headers">

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      Dashboard

    </ion-title>

 
  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>